h1{
  margin-top: 3em;
  text-align: center;
  font-size: 6em ;

}
section{
  margin: 0 auto;
  max-width: 50%;
  position: relative;
  top: 25vh;
}
#currentPat{
  margin-top: 1em;
  font-size: 4em;
  margin-bottom: 1em;
}
#nextPat{
  font-size: 3em;
  margin-bottom: 1em;
}
#timeLeft{
  font-size: 3em;
  margin-bottom: 1em;
}

